# =========================
# FRONTEND (Node/Vite/React)
# =========================
node_modules/
dist/
build/
.next/
.nuxt/
npm-debug.log
yarn-error.log

# =========================
# BACKEND (Spring Boot/Java)
# =========================
target/
*.class
*.log
*.jar
*.war

# =========================
# SECRETS & ENV VARIABLES
# =========================
.env
.env.local
.env.*.local
application.properties


# =========================
# IDE & OS FILES
# =========================
.idea/
.vscode/
*.iml
*.sublime-workspace
.DS_Store
Thumbs.db
